.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include reset;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Georgia, serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

// Usually the name of the site in the main header's navigation,
// so no margin applied.
h1,
.h1 {
  font-family: $defaultFontFamily;
  font-size: 30px;
  margin-bottom: 0;
}

h2,
.h2 {
  font-size: 36px;
  margin-bottom: $largeDistance;
}

h3,
.h3 {
  font-size: 30px;
  margin-bottom: $mediumDistance;
}

h4,
.h4 {
  font-size: 26px;
  margin-bottom: $mediumDistance;
}

h5,
.h5 {
  font-size: 22px;
  margin-bottom: $smallDistance;
}

h6,
.h6 {
  font-size: 18px;
  margin-bottom: $smallDistance;
}
