progress {
  width: 140px;
  height: 12px;
  display: block;
  border-radius: 5px;

  &::-webkit-progress-bar {
    background-color: $defaultBackground;
    box-shadow: 0 5px 5px -5px rba(0, 0, 0, 0.5) inset;
    border: 1px solid $defaultColor;
    border-radius: 5px;
  }

  &::-webkit-progress-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-color: $defaultColor;
  }
}
