// Colors.
$defaultColor: #202a42;
$primaryColor: #3e8bff;

$successColor: #0c8027;
$warningColor: #d49f00;
$errorColor: #dc3545;

// Backgrounds.
$defaultBackground: #fff;
// Example for custom classes from outside
$defaultBackgroundVar1: #dcdcdc;

// Breakpoints.
$smMin: 576px;
$smMax: $smMin - 1;
$mdMin: 768px;
$mdMax: $mdMin - 1;
$lgMin: 992px;
$lgMax: $lgMin - 1;
$xlMin: 1200px;
$xlMax: $xlMin - 1;

$breakPointsArr: (
  sm: $smMin,
  md: $mdMin,
  lg: $lgMin,
  xl: $xlMin,
);

// Distances.
$gridPadding: 15px;
$smallDistance: 10px;
$mediumDistance: 20px;
$largeDistance: 30px;
$defaultDistance: $mediumDistance;

// Fonts.
$defaultFontSize: 16px;
$defaultFontFamily: Verdana, sans-serif;

// Line heights.
$defaultLineHeight: 1.4;

// Widths.
// The $gridContainerSmWidth starts above $smMin.
$gridContainerSmWidth: 540px;
$gridContainerMdWidth: 720px;
$gridContainerLgWidth: 960px;
$gridContainerXlWidth: 1140px;
