// Lora
@font-face {
  font-family: Lora;
  src: url("../../Fonts/Lora/LoraRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Lora;
  src: url("../../Fonts/Lora/LoraItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lora;
  src: url("../../Fonts/Lora/LoraBold.ttf");
  font-weight: 700;
}

// Roboto
@font-face {
  font-family: Roboto;
  src: url("../../Fonts/Roboto/RobotoRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("../../Fonts/Roboto/RobotoItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../../Fonts/Roboto/RobotoBold.ttf");
  font-weight: 700;
}
